<!-- <div>
  <div class="py-8 bg-gray-700 text-center">
    <p class="text-gray-500 text-sm">
      Copyright © {{year}} – Site designed &amp; developed by
      <span class="text-gray-300">Sounish Nath</span>
    </p>
  </div>
</div> -->

<footer class="relative bg-gray-300 pt-8 pb-6">
  <div
    class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    style="height: 80px; transform: translateZ(0);"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-gray-300 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 px-4">
        <h4 class="text-3xl font-semibold">Let's keep in touch!</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-700">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="mt-6">
          <a href="https://www.twitter.com/creativetim" target="_blank"
            ><i
              class="fab fa-twitter bg-white text-blue-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
            ></i></a
          ><a href="https://www.facebook.com/creativetim" target="_blank"
            ><i
              class="fab fa-facebook-square bg-white text-blue-600 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
            ></i></a
          ><a href="https://www.dribbble.com/creativetim" target="_blank"
            ><i
              class="fab fa-dribbble bg-white text-pink-400 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
            ></i></a
          ><a href="https://www.github.com/creativetimofficial" target="_blank"
            ><i
              class="fab fa-github bg-white text-gray-900 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"
            ></i
          ></a>
        </div>
        <p class="text-sm mt-6 text-gray-600 font-semibold">
          Currently v1.0.0. Code<a
            href="https://github.com/creativetimofficial/tailwind-starter-kit"
            class="text-gray-700"
            target="_blank"
          >
            <!-- -->licensed MIT</a
          >, docs<a
            href="https://creativecommons.org/licenses/by/4.0/"
            targe="_blank"
            class="text-gray-700"
          >
            <!-- -->CC BY 4.0</a
          >.
        </p>
      </div>
      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto">
            <span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2"
              >Useful Links</span
            >
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://www.creative-tim.com/presentation"
                  target="_blank"
                  >About Us</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/blog"
                  target="_blank"
                  >Blog</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://www.github.com/creativetimofficial/tailwind-starter-kit"
                  target="_blank"
                  >Github</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://www.creative-tim.com/bootstrap-themes/free"
                  target="_blank"
                  >Free Products</a
                >
              </li>
            </ul>
          </div>
          <div class="w-full md:w-6/12 xl:w-4/12 pt-6 md:pt-0 md:px-4 ml-auto">
            <span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2"
              >Other Resources</span
            >
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://github.com/creativetimofficial/tailwind-starter-kit/blob/master/LICENSE.md"
                  target="_blank"
                  >MIT License</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/terms"
                  target="_blank"
                  >Terms &amp; Conditions</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/privacy"
                  target="_blank"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/contact-us"
                  target="_blank"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-6/12 px-4 font-semibold mx-auto text-center">
        <p class="text-green-dark-theme text-sm">
          Copyright © {{ year }} – Site designed &amp; developed by
          <span class="text-gray-900">Sounish Nath</span>
        </p>
      </div>
    </div>
  </div>
</footer>
