<div class="px-64">
  <div class="bg-image">
    <div class="pb-12 mb-4 pt-16 relative">
      <div class="content px-8 md:px-16 max-w-xl">
        <h1 class="text-5xl font-black">Bit more about me</h1>
      </div>
    </div>
  </div>
</div>

<div class="mt-20">
  <div class="p-0">
    <!-- section card -->
    <app-profilecard></app-profilecard>
  </div>

  <div class="mt-20 pb-20 relative block bg-gray-900">
    <div class="max-w-4xl mx-auto m-auto" style="transform: translateZ(0);">
      <h3>Introduction</h3>
      <div>
        <div class="container mx-auto px-4" id="content">
          <section
            data-section-id="1"
            data-component-id="73a6_2_01_awz"
            data-category="headers"
            class="py-12 px-4 text-center"
          >
            <div class="w-full text-white max-w-2xl mx-auto">
              <span class="text-sm font-semibold" data-config-id="tagline"
                >Resume Builder</span
              >
              <h2
                class="text-5xl mt-2 mb-6 leading-tight font-heading"
                data-config-id="header"
              >
                Would you like to know more about my experience?
              </h2>
              <a
                class="text-black px-4 py-4 rounded bg-green-300 hover:underline"
                href="#"
                data-config-id="primary-action"
                >Check Resume »</a
              >
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="mt-16">

  TODO: Sckewd Panel
  <section class="pb-20 relative block bg-gray-900">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px; transform: translateZ(0);"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-900 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">Build something</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
            Put the potentially record low maximum sea ice extent tihs year down
            to low ice. According to the National Oceanic and Atmospheric
            Administration, Ted, Scambos.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-medal text-xl"></i>
          </div>
          <h6 class="text-xl mt-5 font-semibold text-white">
            Excelent Services
          </h6>
          <p class="mt-2 mb-4 text-gray-500">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-poll text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-white">
            Grow your market
          </h5>
          <p class="mt-2 mb-4 text-gray-500">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-lightbulb text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>
          <p class="mt-2 mb-4 text-gray-500">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </section>
</div> -->
