<div>
  <div  class="p-8 rounded-lg mt-10 max-w-4xl m-auto">
    <div data-aos="slide-up" class="text-left text-4xl font-bold">A bit about me —</div>
    <div class="mt-5 md:mt-8">
      <div
      data-aos="fade-left"
        style="color: #0e3e3b;"
        class="w-3/4 text-xl leading-normal tracking-loose"
      >
        <div class="text">
          I have worked on over <b>2+ years</b> of experience in Software and
          Web development with technologies like
          <span class="text-green-theme"> Rails, Angular, Vue </span> and
          <span class="text-green-theme"> Flutter, Dart & Databases. </span>
        </div>
        <div class="text mt-6">
          I am passionate about technology, always willing to learn new skills
          and in love with what I do. ❤️ 💻️
        </div>
        <div class="text mt-6">
          You can find me on <span class="text-green-theme">GitHub</span> ·
          <span class="text-green-theme"> LinkedIn </span> ·
          <span class="text-green-theme"> Twitter </span>
        </div>
      </div>
    </div>
  </div>
</div>
