<div>
  <app-herosection
    title="{{ repo_name_url }}"
    [subtitle]="repoDetail.sortDesc"
  ></app-herosection>
</div>

<div class="container px-4 md:px-0 max-w-6xl mx-auto mt-20">
  <div class="mx-0 sm:mx-6">
    <!--Nav-->
    <nav class="mt-0 w-full ">
      <div class="container mx-auto flex items-center">
        <div class="flex w-1/2 pl-4 text-sm">
          <ul
            class="list-reset flex justify-between flex-1 md:flex-none items-center"
          >
            <li class="mr-2">
              <!-- <a
                class="inline-block py-2 px-2 no-underline hover:underline"
                href="post.html"
                >POST</a -->
              <img
                [src]="repoDetail.gravatar"
                class="w-10 rounded-full"
                [alt]="repoDetail.gravatar"
              />
            </li>
            <li class="mr-2">
              <div class="flex flex-wrap flex-col justify-evenly">
                <a
                  class="inline-block text-gray-800 no-underline hover:underline py-2 px-2"
                  href="#"
                  >{{ repoDetail.author }}</a
                >
                <div class="div text-indigo-700 m-auto">
                  {{ repoDetail.created_at }} &#183; 6 min read ⭐
                </div>
              </div>
            </li>
            <li class="mr-2">
              <a
                [href]="repoDetail.author_url"
                class="border-indigo-600 no-underline border px-3 cursor-pointer hover:bg-indigo-600 hover:text-white rounded-lg"
              >
                Follow
              </a>
            </li>
          </ul>
        </div>

        <div class="flex w-1/2 justify-end content-center">
          <a
            class="inline-block text-indigo-500 no-underline hover:text-indigo-700 hover:text-underline text-center h-12 p-2 md:h-auto md:p-4 avatar"
            data-tippy-content="@twitter_handle"
            href="https://twitter.com/sounish1"
          >
            <svg
              class="fill-current h-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
            >
              <path
                d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"
              ></path>
            </svg>
          </a>
          <a
            class="inline-block text-indigo-500 no-underline hover:text-indigo-700 hover:text-underline text-center h-12 p-2 md:h-auto md:p-4 avatar"
            data-tippy-content="@linkedin_handle"
            href="https://www.linkedin.com/in/sounish-nath-897b30186/"
          >
            <svg viewBox="0 0 32 32" fill="none" class="fill-current h-6">
              <path
                d="M5 6.36C5 5.61 5.63 5 6.4 5h16.2c.77 0 1.4.61 1.4 1.36v16.28c0 .75-.63 1.36-1.4 1.36H6.4c-.77 0-1.4-.6-1.4-1.36V6.36z"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.76 20.9v-8.57H7.89v8.58h2.87zm-1.44-9.75c1 0 1.63-.65 1.63-1.48-.02-.84-.62-1.48-1.6-1.48-.99 0-1.63.64-1.63 1.48 0 .83.62 1.48 1.59 1.48h.01zM12.35 20.9h2.87v-4.79c0-.25.02-.5.1-.7.2-.5.67-1.04 1.46-1.04 1.04 0 1.46.8 1.46 1.95v4.59h2.87v-4.92c0-2.64-1.42-3.87-3.3-3.87-1.55 0-2.23.86-2.61 1.45h.02v-1.24h-2.87c.04.8 0 8.58 0 8.58z"
                fill="#fff"
              ></path>
            </svg>
          </a>
          <a
            class="inline-block text-indigo-500 no-underline hover:text-indigo-700 hover:text-underline text-center h-12 p-2 md:h-auto md:p-4 avatar"
            data-tippy-content="#facebook_id"
            href="https://www.facebook.com/sounish.nath"
          >
            <svg
              class="fill-current h-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
            >
              <path
                d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </nav>

    <div
      class="bg-gray-200 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t"
    >
      <!--Lead Card-->
      <div class="flex bg-white rounded overflow-hidden shadow-lg">
        <a class="flex flex-wrap no-underline hover:no-underline">
          <div class="w-full md:w-2/3 rounded-t">
            <img
              [src]="repoDetail.image[0]"
              [alt]="repoDetail.image[0]"
              class="h-full w-full shadow"
            />
          </div>

          <div class="w-full bg-gray-100 md:w-1/3 flex flex-col flex-grow flex-shrink">
            <div
              class="flex-1 bg-white- rounded-t rounded-b-none overflow-hidden shadow-lg"
            >
              <p class="w-full text-gray-800 text-xs md:text-sm pt-6 px-6">
                GETTING STARTED
              </p>
              <div class="w-full font-bold text-xl text-gray-900 px-6">
                ✨🎉 {{ repoDetail.quote }}
              </div>
              <p class="mt-3 text-indigo-500 font-sans text-base px-6 mb-5">
                {{ repoDetail.description }}

                <br /><br />
                <script
                  async=""
                  type="text/javascript"
                  [src]="
                     //cdn.carbonads.com/carbon.js?serve=CK7D52JJ&amp;placement=wwwtailwindtoolboxcom
                  "
                  id="_carbonads_js"
                ></script>
              </p>
            </div>

            <div
              class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6"
            >
              <div class="flex items-center justify-between">
                <img
                  class="w-8 h-8 rounded-full mr-4 avatar"
                  data-tippy-content="Author Name"
                  [src]="repoDetail.gravatar"
                  alt="Avatar of Author"
                  tabindex="0"
                />
                <p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--/Lead Card-->
    </div>

    <div class="mt-16">
      <div
        class="text-3xl mt-10 text-black font-bold leading-normal border-b-2 inline-block"
      >
        🎉 Project Description
      </div>
      <div class="text-xl mt-3 word-break leading-10 tracking-normal">
        {{ repoDetail.description }}
      </div>

      <div class="mt-4 p-3 mb-8">
        <img
          [src]="repoDetail.image[1]"
          [alt]="repoDetail.image[1]"
          class="border-black border shadow-xl rounded-lg"
        />
        <div class="text-center text-black text-base text-sm m-3">
          <b class="">GitHub</b> &#183; {{ repoDetail.author }} &#183;
          {{ repoDetail.created_at }}
        </div>
      </div>

      <div
        class="text-3xl text-black font-bold leading-normal border-b-2 inline-block"
      >
        🎉 Idealisation
      </div>

      <div
        class="mt-6 p-3 rounded-lg m-auto text-center mx-auto bg-black text-xl"
      >
        <!-- <q class="text-white text-center"> {{ repoDetail.quote }}  </q> -->
        <section class="py-10 text-white body-font">
          <div class="container mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="yellow"
                class="inline-block w-8 h-8 text-gray-400 mb-8"
                viewBox="0 0 975.036 975.036"
              >
                <path
                  d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                ></path>
              </svg>
              <p class="leading-relaxed text-3xl" style="font-size: 1.6rem;" >
                🎉 {{ repoDetail.quote }} ✨💖
              </p>
              <span
                class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"
              ></span>
              <h2
                class="text-yellow-400 font-medium title-font tracking-wider text-sm"
              >
                {{ repoDetail.author }}
              </h2>
              <p class="text-yellow-400">Full Stack Developer</p>
            </div>
          </div>
        </section>
      </div>

      <div class="mt-8 rounded bg-transparent text-xl">
        <div
          class="text-3xl mt-8 mb-4 text-black font-bold leading-normal border-b-2 inline-block"
        >
          🎉 YouTube Video & Tech Stacks
        </div>

        <div class="flex flex-wrap md:flex-row flex-col justify-evenly">
          <div class="m-auto text-center">
            <iframe
              class="m-auto rounded-lg shadow-2xl p-3"
              width="540"
              height="380"
              [src]="urlSafe"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="m-auto text-center">
            <div class="flex flex-col flex-wrap justify-evenly">
              <div class="m-auto mt-6">
                <!-- component -->
                <div class="w-full">
                  <div
                    class="coding inverse-toggle px-5 pt-4 shadow-lg text-gray-100 text-sm font-mono subpixel-antialiased bg-gray-800 pb-6 pt-4 rounded-lg leading-normal overflow-hidden"
                  >
                    <div class="top mb-2 flex">
                      <div class="h-3 w-3 bg-red-500 rounded-full"></div>
                      <div
                        class="ml-2 h-3 w-3 bg-orange-300 rounded-full"
                      ></div>
                      <div class="ml-2 h-3 w-3 bg-green-500 rounded-full"></div>
                      <div class="m-auto text-green-300">
                        @git/sounishnath003
                      </div>
                    </div>
                    <div class="mt-4 flex">
                      <span
                        class="text-black font-black px-2 rounded bg-yellow-400"
                        >git_clone:~$</span
                      >
                      <p class="flex-1 typing items-center pl-2">
                        {{ repoDetail.project_url }}
                        <br />
                      </p>
                    </div>
                    <div class="mt-2 flex">
                      <span
                        class="text-black font-black rounded bg-red-400 px-2"
                        >license:~$</span
                      >
                      <p class="flex-1 typing items-center pl-2">
                        ✨{{ repoDetail.license }} 🎉.
                        <br />
                      </p>
                    </div>
                    <div class="mt-2 flex">
                      <span class="text-green-400">description:~$</span>
                      <p class="flex-1 typing w-10 items-center pl-2">
                        🎉{{ repoDetail.sortDesc }}
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-auto mt-6">
                <!-- component -->
                <div
                  class="flex flex-col border-indigo-600 border-2 bg-white px-8 py-6 max-w-md mx-auto rounded-lg shadow-xl"
                >
                  <div class="text-xl word-break">Tech Stacks</div>
                  <div class="flex justify-center items-center">
                    <div *ngFor="let tag of repoDetail.tech_stack">
                      <a
                        class="px-2 cursor-pointer hover:bg-indigo-300 py-1 bg-indigo-600 text-sm text-white mr-2 rounded"
                        >{{ tag }}</a
                      >
                    </div>
                  </div>
                  <div class="mt-4">
                    <a class="text-lg text-gray-700 font-medium" href="#"
                      >Build Your New Idea with Technologies. ⭐</a
                    >
                  </div>
                  <div class="mt-4">
                    <div class="text-xl word-break">Used languages</div>
                    <div class="flex justify-center items-center">
                      <div *ngFor="let language of repoDetail.languages">
                        <a
                          class="px-2 cursor-pointer hover:bg-red-300 py-1 bg-red-400 text-sm text-white mr-2 rounded"
                          >{{ language }}</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="flex justify-between items-center mt-4">
                    <div class="flex items-center">
                      <img
                        [src]="repoDetail.gravatar"
                        class="w-8 h-8 object-cover rounded-full"
                        alt="avatar"
                      />
                      <a class="text-gray-700 text-sm mx-3" href="#">{{
                        repoDetail.author
                      }}</a>
                    </div>
                    <span class="font-light text-sm text-gray-600">{{
                      repoDetail.created_at
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-12">
        <app-course-card></app-course-card>
        <div class="mt-20">
          <div class="m-auto mx-auto text-center">
            <div class="flex m-5 flex-wrap flex-col md:flex-row justify-evenly">
              <div
                class="m-auto cursor-pointer hover:bg-gray-300 font-bold px-5 py-2 rounded-lg shadow border-indigo-600 border-2  text-gray-800"
                *ngFor="let tag of repoDetail.tags"
              >
                {{ tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Author-->
    <div class="flex w-full items-center font-sans p-8 md:p-24">
      <img
        class="w-10 h-10 rounded-full mr-4"
        src="../../../../assets/sounish.jpg"
        alt="Avatar of Author"
      />
      <div class="flex-1">
        <p class="text-base font-bold text-base md:text-xl leading-none">
          Sounish Nath
        </p>
        <p class="text-gray-600 text-xs md:text-base">
          Copyright, Licensed MIT, 2020
          <a
            class="text-gray-800 hover:text-indigo-800 no-underline border-b-2 border-indigo-500"
            href="https://github.com/sounishnath003"
            >GitHub.com</a
          >
        </p>
      </div>
      <div class="justify-end">
        <button
          class="bg-transparent border border-gray-500 hover:border-indigo-500 text-xs text-gray-500 hover:text-indigo-600 font-bold py-2 px-4 rounded-full"
        >
          Read More
        </button>
      </div>
    </div>
    <!--/Author-->
  </div>
</div>

<div class="container px-4 md:px-0 max-w-6xl mx-auto">
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8">
        <div class="py-8 flex flex-wrap md:flex-no-wrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-gray-900"
              >CATEGORY</span
            >
            <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Bitters hashtag waistcoat fashion axe chia unicorn
            </h2>
            <p class="leading-relaxed">
              Glossier echo park pug, church-key sartorial biodiesel
              vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon
              party messenger bag selfies, poke vaporware kombucha lumbersexual
              pork belly polaroid hoodie portland craft beer.
            </p>
            <a class="text-indigo-500 inline-flex items-center mt-4"
              >Learn More
              <svg
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div
          class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap"
        >
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-gray-900"
              >CATEGORY</span
            >
            <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Meditation bushwick direct trade taxidermy shaman
            </h2>
            <p class="leading-relaxed">
              Glossier echo park pug, church-key sartorial biodiesel
              vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon
              party messenger bag selfies, poke vaporware kombucha lumbersexual
              pork belly polaroid hoodie portland craft beer.
            </p>
            <a class="text-indigo-500 inline-flex items-center mt-4"
              >Learn More
              <svg
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div
          class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap"
        >
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-gray-900"
              >CATEGORY</span
            >
            <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
              Woke master cleanse drinking vinegar salvia
            </h2>
            <p class="leading-relaxed">
              Glossier echo park pug, church-key sartorial biodiesel
              vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon
              party messenger bag selfies, poke vaporware kombucha lumbersexual
              pork belly polaroid hoodie portland craft beer.
            </p>
            <a class="text-indigo-500 inline-flex items-center mt-4"
              >Learn More
              <svg
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
