<div>
  <div class="text-xl word-break leading-relaxed">Personal Introduction</div>
  <div class="mt-6 m-auto rounded-lg max-w-xl">
    <iframe width="520" height="300" src="https://www.youtube.com/embed/qMhFrrSFj0c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div>
  <div class="mt-6">
    <div mat-dialog-actions>
    <button mat-button>Go back</button>
    <button mat-button cdkFocusInitial >Dismiss</button>
</div>
  </div>
</div>
