<div>
  <div
      data-v-7b5664b4=""
      style="color: #0e3e3b;"
      class="p-3 bg-white flex md:flex-row flex-wrap flex-col text-xl justify-center"
    >
      <div data-v-7b5664b4="">
        <div
          data-v-7b5664b4=""
          class="v-scrollin  text-center md:mt-0 mt-2 hover:bg-gray-100 p-1 rounded"
        >
          Dart 🎯
        </div>
      </div>
      <div data-v-7b5664b4="">
        <div
          data-v-7b5664b4=""
          class="v-scrollin  text-center md:mt-0 mt-2 hover:bg-gray-100 p-1 rounded"
        >
          Ruby ♦️
        </div>
      </div>
      <div data-v-7b5664b4="">
        <div
          data-v-7b5664b4=""
          class="v-scrollin  text-center md:mt-0 mt-2 hover:bg-gray-100 p-1 rounded"
        >
          Flutter 🚀
        </div>
      </div>
      <div data-v-7b5664b4="">
        <div
          data-v-7b5664b4=""
          class="v-scrollin  text-center md:mt-0 mt-2 hover:bg-gray-100 p-1 rounded"
        >
          GitHub 👨🏻‍💻
        </div>
      </div>
      <div data-v-7b5664b4="">
        <div
          data-v-7b5664b4=""
          class="v-scrollin  text-center md:mt-0 mt-2 hover:bg-gray-100 p-1 rounded"
        >
          Rails 😄
        </div>
      </div>
      <div data-v-7b5664b4="">
        <div
          data-v-7b5664b4=""
          class="v-scrollin  text-center md:mt-0 mt-2 hover:bg-gray-100 p-1 rounded"
        >
          Vue 🏄‍♂️
        </div>
      </div>
      <div data-v-7b5664b4="">
        <div
          data-v-7b5664b4=""
          class="v-scrollin  text-center md:mt-0 mt-2 hover:bg-gray-100 p-1 rounded"
        >
          YouTube 🌱
        </div>
      </div>
    </div>

</div>
