<div class="">
  <div data-aos="fade-down" class="m-auto w-24 h-24">
    <img src="../../assets/backpack.png" class="" alt="backpack" />
  </div>
  <div data-aos="fade-right" class="text-center mt-3 text-4xl m-auto font-bold">
    My development backpack —
  </div>

  <!-- <div class="flex wrap mt-12 flex-col md:flex row justify-evenly d-flex">
    <div class="m-auto md:mr-3 mb-4">
      <div class="text-2xl font-bold text-center">Languages</div>
      <app-technology
        image="../../../assets/js-logo.jpg"
        title="JavaScript"
        desc="My go to programming language pretty much for everything. Be it the front-end, backend, or a CLI tool."
      ></app-technology>
      <app-technology
        image="../../../assets/c++.png"
        title="C++"
        desc="C++ is a multiparadigms, high-level, general-purpose programming language, mostly called C on steroids."
      ></app-technology>
      <app-technology
        image="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-html-5-icon.png"
        title="HTML"
        desc="Mostly writing HTML in JSX, but from time to time I find myself writing a plain, classic HTML file.  practice"
      ></app-technology>
    </div>
    <div class="m-auto md:mr-3 mb-4">
      <div class="text-2xl font-bold text-center">Libraries & Frameworks</div>
      <app-technology
        image="../../../assets/js-logo.jpg"
        title="JavaScript"
        desc="My go to programming language pretty much for everything. Be it the front-end, backend, or a CLI tool."
      ></app-technology>
      <app-technology
        image="../../../assets/c++.png"
        title="C++"
        desc="C++ is a multiparadigms, high-level, general-purpose programming language, mostly called C on steroids."
      ></app-technology>
      <app-technology
        image="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-html-5-icon.png"
        title="HTML"
        desc="Mostly writing HTML in JSX, but from time to time I find myself writing a plain, classic HTML file.  practice"
      ></app-technology>
    </div>
    <div class="m-auto md:mr-3 mb-4"></div>
  </div> -->
</div>
