<div>
  <div class="flex flex-wrap justify-evenly flex-col md:flex-row">
    <div class="m-auto">
      <div class="text-2xl font-bold mb-6 text-green-dark-theme text-center">
        Languages
      </div>
      <app-technology
        image="../../../assets/c++.png"
        title="C++"
        desc="C++ is a multiparadigms, high-level, general-purpose programming language, mostly called C on steroids."
      ></app-technology>

      <app-technology
        image="../../../assets/js-logo.jpg"
        title="JavaScript"
        desc="My go to programming language pretty much for everything.Be it the front-end, backend, or a CLI tool."
      ></app-technology>

      <app-technology
        image="../../assets/ruby.png"
        title="Ruby"
        desc="I always prefer ruby in backend building complex understanding due to its simplecity & productivity."
      ></app-technology>

      <app-technology
        image="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-html-5-icon.png"
        title="HTML"
        desc="Mostly writing HTML in Vue or ng template, but from time to time I find myself writing a plain, classic HTML file.  practice"
      ></app-technology>
      <app-technology
        image="../../assets/dart-logo.png"
        title="DART"
        desc="The language from Google which I choose to build mobile applications."
      ></app-technology>
    </div>
    <div class="m-auto">
      <div class="text-2xl font-bold mb-6 text-green-dark-theme text-center">
        Libraries & Frameworks
      </div>
      <app-technology
        image="../../assets/rails-logo.png"
        title="Rails"
        desc="Rails is a web application Framework. I so much use this any of my data driven project."
      ></app-technology>

      <app-technology
        image="../../../assets/nodejs-logo.png"
        title="NodeJs & Express"
        desc="My go to framework of JavaScript when it comes in building any small & quick back-end project."
      ></app-technology>

      <app-technology
        image="../../assets/angular.png"
        title="Angular"
        desc="Altough React is my go to language, I also have experience building scalable web applications with Angular."
      ></app-technology>

      <app-technology
        image="../../assets/flutter-logo.svg"
        title="Flutter"
        desc="Playing around with Flutter framework to develop beautiful cross platform mobile applications"
      ></app-technology>

      <app-technology
        image="../../assets/SASLogo.png"
        title="SAS - Data Analytics"
        desc="SAS is the leader in analytics. Mostly use Sas for analytics of big data."
      ></app-technology>
    </div>
    <div class="m-auto">
      <div class="text-2xl font-bold mb-6 text-green-dark-theme text-center">
        Tools & Others
      </div>

      <div class="flex flex-wrap justify-evenly">
        <div class="m-auto">
          <app-technology
            image="../../assets/github-logo.svg"
            title="Github"
            desc="Where I store all my git repositories, one of the best favourble version controlling and CI/CD "
          ></app-technology>
        </div>
        <div class="m-auto">
          <app-technology
            image="../../assets/psql.png"
            title="PostgresSQL"
            desc="When I need relational database, Powerful and Real quick Database"
          ></app-technology>
        </div>
        <div class="m-auto">
          <app-technology
            image="../../assets/firebase-logo.png"
            title="Firebase"
            desc="When I need a noSQL database, or just quickly prototyping..."
          ></app-technology>
        </div>
        <div class="m-auto">
          <app-technology
            image="../../assets/Ubuntu-Logo.png"
            title="Ubuntu"
            desc="My favourite Operating System. use for simplicity for developement."
          ></app-technology>
        </div>
      </div>
    </div>
  </div>

  <div class="lg:py-8">
    <div class="mx-auto px-8 md:px-16 max-w-2xl bg-teal-400 md:rounded-lg">
      <h3
        class="text-2xl font-normal leading-normal py-8 text-white break-words"
      >
        If you need more details, feel free to email me.<br /><a
          href="mailto:flock.sinasini@gmail.com"
          class="text-teal-800"
          >flock.sinasini@gmail.com →</a
        >
      </h3>
    </div>
  </div>
</div>
