<div>
  <div data-aos="fade-down" class="text-left text-4xl font-bold">Things I'm good at —</div>
  <div class="mt-5 md:mt-8">
    <div class="flex flex-wrap">
      <div data-aos="zoom-in-up" class="w-full md:w-1/2 md:pr-8">
        <div class="d-flex h-32 w-32 rounded-full shadow p-8 bg-white my-8">
          <img
          loading="lazy"
            class="w-full h-full scale-150"
            src="../../../assets/ror.png"
            alt="RAILS"
          />
        </div>
        <h4 class="uppercase mb-4 text-xl font-bold">ruby on rails</h4>
        <p class="leading-normal text-gray-700 text-lg">
          Ruby on Rails, or Rails, is a server-side web application framework
          written in Ruby under the MIT License. Ruby on Rails. Helps to build
          websites and applications, because it abstracts and simplifies common
          repetitive tasks
        </p>
      </div>
      <div class="w-full md:w-1/2 md:pl-8">
        <div class="h-32 w-32 rounded-full shadow p-8 bg-white my-8">
          <img
            class="w-full h-full"
            src="../../../assets/ng-logo.png"
            alt="Laravel"
          />
        </div>
        <h4 class="uppercase mb-4 text-xl font-bold">Angular Framework</h4>
        <p class="leading-normal text-gray-700 text-lg">
          Angular is a platform for building mobile and desktop web
          applications. Join the community of millions of developers who build
          compelling user interfaces with
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap pb-4">
  <div class="w-full md:w-1/2 md:pr-8">
    <div class="h-32 shadow-lg w-32 rounded-full shadow p-8 bg-white my-8">
      <img
        class="w-full h-full"
        src="data:image/svg+xml;base64,PHN2ZyBpZD0idnVlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMzUuNDcgMjA0Ij48dGl0bGU+dnVlPC90aXRsZT48ZyBpZD0iZzEwIj48ZyBpZD0iZzEyIj48cGF0aCBpZD0icGF0aDE0IiBkPSJNMjMzLjY4LDk4bC0yNy4yLDQ3LjA3TDE3OS4yOCw5OEg4OC43NUwyMDYuNDgsMzAyLDMyNC4yMiw5OEgyMzMuNjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODguNzUgLTk3Ljk5KSIgc3R5bGU9ImZpbGw6IzRkYmE4NyI+PC9wYXRoPjwvZz48ZyBpZD0iZzE2Ij48cGF0aCBpZD0icGF0aDE4IiBkPSJNMjMzLjY4LDk4bC0yNy4yLDQ3LjA3TDE3OS4yOCw5OEgxMzUuODJsNzAuNjcsMTIyLjRMMjc3LjE1LDk4SDIzMy42OFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04OC43NSAtOTcuOTkpIiBzdHlsZT0iZmlsbDojNDM1NDY2Ij48L3BhdGg+PC9nPjwvZz48L3N2Zz4="
        alt="Vue JS"
      />
    </div>
    <h4 class="uppercase mb-4 font-bold text-xl">Vue.JS</h4>
    <p class="leading-normal text-gray-700 text-lg">
      Vue.js is the frontend framework of choice these days for building user
      interfaces and single-page applications. It is comparable to React but is
      better integrated with Laravel ecosystem.
    </p>
  </div>
  <div class="w-full md:w-1/2 md:pl-8">
    <div class="h-32 shadow-lg w-32 rounded-full shadow p-8 bg-white my-8">
      <img class="w-full h-full" src="../../../assets/psql.png" alt="MySQL" />
    </div>
    <h4 class="uppercase mb-4 font-bold text-xl">Postgresql Database</h4>
    <p class="leading-normal text-gray-700 text-lg">
      PostgreSQL is a powerful, open source object-relational database system
      with over 30 years of active development that has earned it a strong
      reputation for reliability, feature robustness, and performance.
    </p>
  </div>
</div>
