<div class="p-8 rounded-lg mt-10 max-w-6xl m-auto">
  <div
  data-aos="fade-in"
    class="flex flex-wrap justify-between text-gray-700 flex-col md:flex-row"
  >
    <div
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      class="text-center cursor-pointer w-24 h-24 mb-8 md:mb-0 m-auto"
    >
      <img
        src="../../assets/logo.png"
        alt="logo"
        class="w-24 ml--6 bg-fixed h-24 p-2"
      />
    </div>
    <div class="text-center m-auto">
      <div data-aos="fade-left" class="flex flex-wrap cursor-pointer justify-evenly">
        <div class="text-center m-auto uppercase font-bold mr-8">blog</div>
        <div [routerLink]="['/projects']" routerLinkActive="router-link-active"  class="text-center m-auto uppercase font-bold mr-8">projects</div>
        <div
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          class="text-center m-auto uppercase font-bold mr-8"
        >
          about
        </div>
        <div class="text-center m-auto uppercase font-bold mr-8">catch me</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
