<div class="p-8 rounded-lg mt-10 max-w-6xl m-auto">
  <div
    class="flex flex-wrap justify-between text-gray-700 flex-col md:flex-row"
  >
    <div class="text-center w-24 h-24 mb-8 md:mb-0 m-auto">
      <img src="../../assets/logo.png" alt="logo" class="w-24 ml--6 h-24 p-2" />
    </div>
    <div class="text-center m-auto">
      <div class="flex flex-wrap justify-evenly">
        <div class="text-center m-auto uppercase font-bold mr-8">blog</div>
        <div class="text-center m-auto uppercase font-bold mr-8">linked in</div>
        <div class="text-center m-auto uppercase font-bold mr-8">email</div>
      </div>
    </div>
  </div>

  <div class="bg-image">
    <div class="mt-10 text-5xl font-bold max-w-3xl m-auto mx-auto text-indigo-700">
    <div class="" style="color: #0e3e3b;" >
      <div role="presentation" class="titlecase tracking-loose leading-loose">
        Hello, <span style="color:rgb(15, 161, 161);" >I'm Sounish,</span>
      </div>
      <div role="presentation" class="titlecase tracking-loose leading-loose">
        Backend & Frontend Developer Based in Kolkata, India.
      </div>
    </div>
  </div>
  </div>
</div>
