<div class="p-8 rounded-lg mt-10 max-w-6xl m-auto">
  <div
    class="flex flex-wrap justify-between text-gray-700 flex-col md:flex-row"
  >
    <div class="text-center w-24 h-24 mb-8 md:mb-0 m-auto">
      <img
        src="../../assets/logo.png"
        alt="logo"
        class="w-24 ml--6 bg-fixed h-24 p-2"
      />
    </div>
    <div class="text-center m-auto">
      <div class="flex flex-wrap justify-evenly">
        <div class="text-center m-auto uppercase font-bold mr-8">blog</div>
        <div class="text-center m-auto uppercase font-bold mr-8">linkedin</div>
        <div class="text-center m-auto uppercase font-bold mr-8">email</div>
      </div>
    </div>
  </div>

  <div class="bg-image mb-4">
    <div
      class="mt-10 text-5xl font-bold max-w-3xl m-auto mx-auto text-indigo-700"
    >
      <div class="" style="color: #0e3e3b;">
        <div role="presentation" class="titlecase tracking-loose leading-loose">
          Hello, <span style="color: rgb(15, 161, 161);">I'm Sounish,</span>
        </div>
        <div role="presentation" class="titlecase tracking-loose leading-loose">
          Backend & Frontend Developer Based in Kolkata, India.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-8 bg-gray-100">
  <app-aBitAbout></app-aBitAbout>

  <div class="p-8 rounded-lg mt-10 max-w-4xl m-auto">
    <app-skillset></app-skillset>
  </div>

  <div class="p-8 rounded-lg mt-10 max-w-4xl m-auto">
    <app-developementBackpack></app-developementBackpack>
  </div>

  <div class="mt-12">
    <div class="flex flex-wrap justify-evenly flex-col md:flex-row">
      <div class="m-auto">
        <div class="text-2xl font-bold mb-6 text-green-dark-theme text-center">
          Languages
        </div>
        <app-technology
          image="../../../assets/c++.png"
          title="C++"
          desc="C++ is a multiparadigms, high-level, general-purpose programming language, mostly called C on steroids."
        ></app-technology>

        <app-technology
          image="../../../assets/js-logo.jpg"
          title="JavaScript"
          desc="My go to programming language pretty much for everything.Be it the front-end, backend, or a CLI tool."
        ></app-technology>

        <app-technology
          image="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-html-5-icon.png"
          title="HTML"
          desc="Mostly writing HTML in JSX, but from time to time I find myself writing a plain, classic HTML file.  practice"
        ></app-technology>
      </div>
      <div class="m-auto">
        <div class="text-2xl font-bold mb-6 text-green-dark-theme text-center">
          Libraries & Frameworks
        </div>
        <app-technology
          image="../../../assets/js-logo.jpg"
          title="JavaScript"
          desc="My go to programming language pretty much for everything.Be it the front-end, backend, or a CLI tool."
        ></app-technology>

        <app-technology
          image="../../../assets/c++.png"
          title="C++"
          desc="C++ is a multiparadigms, high-level, general-purpose programming language, mostly called C on steroids."
        ></app-technology>

        <app-technology
          image="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-html-5-icon.png"
          title="HTML"
          desc="Mostly writing HTML in JSX, but from time to time I find myself writing a plain, classic HTML file.  practice"
        ></app-technology>
      </div>
      <div class="m-auto">
        <div class="text-2xl font-bold mb-6 text-green-dark-theme text-center">
          Tools & Others
        </div>
      </div>
    </div>
  </div>
</div>
